 
<!-- <button (click)="fetchData()">Fetch Data</button>
<pre>{{ data() | json }}</pre>

 

<app-dynamic-table
  [columns]="tableColumns"
  [data]="tableData"
  (rowClick)="onRowClick($event)"
  (actionClick)="onActionClick($event)">
</app-dynamic-table>
  -->
<!-- <button (click)="printInvoice()">Print Invoice</button>
<app-invoice #invoiceRef></app-invoice>
<iframe #printFrame style="display: none;"></iframe> -->

<input type="text" [(ngModel)]="userMessage" placeholder="Enter your message">
<button (click)="sendWhatsApp()">Send on WhatsApp</button>