<mat-toolbar color="primary" class="top-toolbar custom-shadow">
  <button mat-icon-button (click)="sidenav.toggle()">
    <i class="fas fa-bars"></i>
  </button>


  <span class="toolbar-title">{{ companyName }}</span>

  <span class="spacer"></span>

  <img width="20" height="20" [matMenuTriggerFor]="userMenu" class="double-border"
    [src]="imagePreview || 'TheeranChinnamalai.jfif'" />

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onGridView()">
      <i class="fas fa-border-all pd-10-rt"></i>
      <span>{{ dashBoardView }}</span>
    </button>

    <button *ngIf="isAdmin()" mat-menu-item (click)="onSalesSummaryRepot()">
      <i class="fas fa-file-invoice-dollar pd-10-rt"></i>
      <span>Sales Summary Report</span>
    </button>

    <button mat-menu-item (click)="onAuditTableView()">
      <i class="fas fa-clipboard-list me-2 pd-10-rt"></i>
      <span>Audit Table View</span>
    </button>

    <!-- Sub-menu Trigger -->
    <button *ngIf="isAdmin() || isSuperAdmin()" mat-menu-item [matMenuTriggerFor]="userMgmtMenu">
      <i class="fas fa-users-cog pd-10-rt"></i>
      <span>User Management</span>

    </button>

    <button mat-menu-item (click)="onProfile()">
      <i class="fas fa-user pd-10-rt"></i>
      <span>Profile</span>
    </button>

    <button mat-menu-item (click)="onChangePassword()">
      <i class="fas fa-lock pd-10-rt"></i>
      <span>Change Password</span>
    </button>

    <button *ngIf="isSuperAdmin()" mat-menu-item (click)="onInventoryCompanyIfoView()">
      <i class="fas fa-box me-2 pd-10-rt"></i>
      <span>Inventory Company Info</span>
    </button>

    <button mat-menu-item (click)="onLogout()">
      <i class="fas fa-sign-out-alt pd-10-rt"></i>
      <span>Logout</span>
    </button>
  </mat-menu>

  <!-- Sub-menu definition -->
  <mat-menu #userMgmtMenu="matMenu">
    <button *ngIf="isSuperAdmin()" mat-menu-item (click)="onNewUser()">
      <i class="fas fa-user-plus pd-10-rt"></i>
      <span>Add New User</span>
    </button>

    <button *ngIf="isSuperAdmin()" mat-menu-item (click)="onUserRolePermission()">
      <i class="fas fa-user-lock pd-10-rt"></i>
      <span>User Role Permission</span>
    </button>

    <button *ngIf="isSuperAdmin()" mat-menu-item (click)="onMenuPermission()">
      <i class="fas fa-user-lock pd-10-rt"></i>
      <span>Menu Permission</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" class="sidenav">
    <app-custom-menu></app-custom-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <div class="footer-section footer-left">
    <span>Support: <strong>Muruganvc</strong></span>
    <a href="tel:+919994277980">
      <i class="fas fa-phone-alt"></i> +91-99942-77980
    </a>
    <a href="mailto:vcmuruganmca@gmail.com">
      <i class="fas fa-envelope"></i> vcmuruganmca&#64;gmail.com
    </a>
  </div>
  
  <div class="footer-section footer-right">
    <i class="fas fa-info-circle blink-info" title="More info here" (click)="openPopup()"></i>
    <span>Logged in as: <strong>{{ userName }}</strong> ({{ role }})</span>
  </div>
</footer>


<div class="popup-overlay" *ngIf="showPopup">
  <div class="popup-content">
    <span class="close-btn" (click)="closePopup()" title="Close">&times;</span>
    <h3 class="popup-title">Application Details</h3>
    <div class="popup-row">
      <div class="popup-col">
        <strong>API Version:</strong> {{ invCompanyInfo.apiVersion }}
      </div>
      <div class="popup-col">
        <strong>UI Version:</strong> {{ invCompanyInfo.uiVersion }}
      </div>
      <div class="popup-col">
        <strong>Database Name:</strong> {{ databaseName }}
      </div>
    </div>


    <!-- Social Media Icons -->
    <div class="social-icons">
      <a href="https://www.facebook.com/vcmuruganmca" target="_blank" aria-label="Facebook" class="facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/_murugan_vc_" target="_blank" aria-label="Instagram" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/muruganvc" target="_blank" aria-label="LinkedIn" class="linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>