<div   class="expired-container">
  <div class="expired-card">
    <div class="expired-icon">&#9888;</div>
    <h2 class="expired-title">Company Subscription Expired</h2>
    <p class="expired-message">
      Your company subscription has expired. To continue using the system, please renew your plan.
      <br /><br />
      For assistance, please contact the support team.
    </p>

    <div class="button-group">
      <!-- <button class="expired-button" (click)="navigateToRenewal()">Renew Now</button> -->
      <button class="expired-button secondary" (click)="navigateToLogin()">Back to Login</button>
    </div>
  </div>
</div>
