<h4 mat-dialog-title>Seles Confirmation</h4>
<div class="amount-summary-row">
    <span>Total Amount: {{ userForm.get('netTotal')?.value }}</span>
    <span>Total Items: {{ data.totalItems }}</span>
    <span>Dis. Amount: {{ userForm.get('disCountAmount')?.value }}</span>
    <span>Final Amount: {{ userForm.get('finalTotal')?.value }}</span>

</div>

<div class="form-scroll-container">
    <app-dynamic-form [isPopup]="false" [formGroup]="userForm" [fields]="fields" [buttons]="actionButtons"
        [title]="pageHeader">
    </app-dynamic-form>
</div>