<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header class="center-header">
            <mat-card-title class="enter-title">
                Vennila Electricals - Login
            </mat-card-title>
        </mat-card-header>

        <hr class="double-color-hr" />

        <mat-card-content>
            <form [formGroup]="loginForm">

                <!-- Username Field -->
                <div class="form-row">
                    <label class="form-label">User Name :</label>
                    <mat-form-field appearance="outline" class="form-input multi-border">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="username" autocomplete="off" />
                        <button mat-icon-button matSuffix disabled>
                            <i class="fas fa-user"></i>
                        </button>
                        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                </div>


                <!-- Password Field -->
                <div class="form-row">
                    <label class="form-label">Password :</label>
                    <mat-form-field appearance="outline" class="form-input multi-border">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" autocomplete="off" />
                        <button mat-icon-button matSuffix disabled>
                            <i class="fas fa-lock"></i>
                        </button>
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>


                <!-- Submit Button -->
                <div>
                    <button [disabled]="loginForm.invalid" (click)="onSubmit()" mat-raised-button type="submit"
                        class="login-btn full-width custom-button no-theme-btn">
                        Login
                        <i class="fas fa-sign-in-alt right-icon" style="margin-left: 8px;"></i>
                    </button>

                    <div class="forgot-password">
                        <a (click)="forgetPassword()">Forget Password?</a>
                    </div>
                </div>



            </form>
        </mat-card-content>

        <hr class="double-color-hr-1" />
    </mat-card>
</div>