// :host {
//         display: block;
//         padding: 16px;
//     }

    // .product-table-wrapper {
    //   max-height: calc(100vh - 200px); // adjust based on your header/footer
    //   overflow-y: auto;
    //   padding: 12px;
    // }



    /* You can add this to component.scss or styles.scss */
.glowing-border {
  position: relative;
  padding: 20px 40px;
  background-color: #111;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.glowing-border::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, red, yellow, lime, cyan, blue, magenta, red);
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  animation: glow-border 6s linear infinite;
  border-radius: 10px;
}

@keyframes glow-border {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
