<ng-container *ngIf="showHeader">
  <div class="page-header">
    <h2 class="page-title">{{ title() }}</h2>
    <ng-container *ngIf="!!addBtnTitle()">
      <button mat-flat-button (click)="openNew()" class="add-button">
        <i class="fas fa-circle-plus" style="font-size: 18px;" matTooltip="Add"></i>
         &nbsp; {{ addBtnTitle() }}
      </button>
    </ng-container>

  </div>

  <mat-form-field appearance="outline" class="search-box">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup)="applyFilter()" />
  </mat-form-field>
</ng-container>

<div class="mat-elevation-z8">
  <!-- Desktop/tablet view -->
  <div *ngIf="!isMobile; else mobileView" class="table-scroll">
    <table mat-table [dataSource]="dataSource"  class="full-width-table" matSort>

      <!-- Dynamic columns -->
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef [style.text-align]="col.align || 'left'">
          {{ col.label }}
        </th> 

        <td mat-cell *matCellDef="let row" [style.text-align]="col.align || 'left'" [ngClass]="getRowClass(row)">
          <ng-container *ngIf="!isEditing(row); else editField">
            <ng-container *ngIf="col.type === 'checkbox' && !col.isHidden; else defaultView">
               
              <mat-checkbox (change)="onFieldChange(row, col.key, $event.checked)" [checked]="row[col.key]">
              </mat-checkbox>
            </ng-container>
            <!-- <ng-template [style.highlight-cell]="col.highLight" #defaultView>{{ col.pipe === 'date' ? (row[col.key] | date: 'dd-MM-yyyy') : row[col.key] }}</ng-template> -->
            <ng-template #defaultView>
              <span [ngClass]="getCellClasses(col, row)">
                {{ col.pipe === 'date' ? (row[col.key] | date: 'dd-MM-yyyy') : row[col.key] }}
              </span>
            </ng-template>
          </ng-container>

          <ng-template #editField>
           
            <ng-container *ngIf="col.type === 'checkbox' && col.isHidden; else defaultEdit">
              <mat-checkbox [(ngModel)]="editedRow[col.key]"></mat-checkbox>
            </ng-container>
            <ng-template #defaultEdit>
              <input [(ngModel)]="editedRow[col.key]" class="custom-input" />
            </ng-template>
          </ng-template>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Actions</th>
        <td mat-cell *matCellDef="let row" style="text-align: center;">
          <ng-container *ngFor="let btn of actions">
            <button mat-icon-button (click)="actionClick.emit({ row, action: btn.action })" [matTooltip]="btn.tooltip">
              <i class="{{ btn.iconClass }}" [ngStyle]="{
                  'font-size.px': 15,
                  color: btn.color,
                  cursor: 'pointer'
                }"></i>
            </button>
          </ng-container>
        </td>
      </ng-container> 
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- Mobile view -->
  <ng-template #mobileView>
    <div class="mobile-card" *ngFor="let row of paginatedMobileData">
      <mat-card>
        <mat-card-content>
          <div *ngFor="let col of columns">
            <strong>{{ col.label }}:</strong>
            <ng-container *ngIf="!isEditing(row)">
              {{ row[col.key] }}
            </ng-container>
            <ng-container *ngIf="isEditing(row)">
              <ng-container *ngIf="col.type === 'checkbox'; else mobileInput">
                <mat-checkbox [(ngModel)]="editedRow[col.key]"></mat-checkbox>
              </ng-container>
              <ng-template #mobileInput>
                <input [(ngModel)]="editedRow[col.key]" class="custom-input" />
              </ng-template>
            </ng-container>
          </div>

          {{actions.length}}
      <div class="actions">
        <ng-container *ngFor="let btn of actions">
          <ng-container *ngIf="btn.condition(row)">
            <button mat-icon-button (click)="actionClick.emit({ row, action: btn.action })" [matTooltip]="btn.tooltip">
              <i class="{{ btn.iconClass }}" [ngStyle]="{ 'font-size.px': 15, color: btn.color }"></i>
            </button>
          </ng-container>
        </ng-container>
      </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-paginator [length]="filteredData.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5]"
      showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>
  </ng-template>
 

<mat-paginator
  *ngIf="!isMobile && dataSource.data?.length"
  [length]="dataSource.filteredData.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  (page)="onPageChange($event)">
</mat-paginator>


</div>