<app-custom-table [data]="companies" [title]="'Company List'" [addBtnTitle]="!isUser() ? 'Add Company' : null"
    [columns]="columns" [showActions]="!isUser()" [actions]="tableActions" (actionClick)="onAction($event)"
    (newOpen)="newOpen($event)" [filterActions]="filterActions" (filterActionClick)="onFilterActionClick($event)">
</app-custom-table>
<div class="export-btn-container">
    <button mat-flat-button class="btn-export-excel" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel"></i> Export to Excel
    </button>
</div>